<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="InforCommon" value="http://uscovwtfs1.infor.com:8080/tfs/TDCIDev/_packaging/InforCommon/nuget/v3/index.json" />
  </packageSources>
</configuration>
